/* smooth scrolling, not supported on safari */
html {
	scroll-behavior: smooth;
  }

/* Body */
body {
	margin: 0%; /* This ensures our site displays all the way to the edge of the browser screen */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	letter-spacing: .2vw; 
	font-size: 1.5vw;
}

/* Navbar */
.Navbar {
	overflow: hidden; /* This ensures that any content that overflows beyond the boundary of our nav bar is not displayed */
	background-color: rgb(31, 164, 216); 
	position: fixed; /* This keeps the navbar at the top of the screen as we scroll */
	top: 0; /* This ensures no space is displayed above the navbar */
	width: 100%; /* This makes the navbar span the entire width of the page */
	z-index: 1; /*This ensures other elements don't display over the navbar */
	-webkit-animation: moveNav 3s; /* Safari 4.0 - 8.0 */
    animation: moveNav 3s;
}

/* Navbar text */
.Navbar a {
	float: left; /* This specifies that the text floats on the left on the navbar */
	display: block; /* This ensures that other text will be displayed on the same line or row, instead of a new line */
	color: white; /* This is the font color for text on our navbar */
	padding: 14px 16px; /* This adds padding around our text */
	text-decoration: none; /* This gets rid of the underlines under the text on our navbar */
	font-family: Avant Garde, Helvetica; /* This specifies the font family for text on our navbar */
	font-size: 20px; /* This specifies the font size for text on our navbar */
	text-align: center; /* This centers the text within its container */
	position: relative;
	letter-spacing: .2vw;
}

@keyframes moveNav {
	from {left: -100vw;}
	to {left: 0vw;}
  }

  /* fade in video text on load */
@keyframes fadevideoText {
		0% {opacity: 0;}
		100% {opacity: 1;}
	 
  }

/* Navbar hover effect */
.Navbar a:hover {
	background-color: rgb(37, 146, 189); /*  This defines the background color that will display when you hover over the text on the navbar */
	color: whitesmoke; /* This defines the font color that will display when you hover over the text on the navbar */
	font-weight: 500;
}

/* Navbar home button */
.Navbar a.active { /* The active selector styles a link */
  background-color: skyblue;  /* This specifies the background color behind the Home button on the navbar */ 
}

/* This causes the video to zoom out from a zoomed in position upon page load */
@keyframes zoominoutsinglefeatured {
    0% {
        transform: scale(1.5,1.5);
    }
    100% {
        transform: scale(1,1);
    }
}

/* Video */
#Typing_Video {
	position: fixed; /* This fixes our video to the page  */
	right: 0; /* This ensures no space between the edge of the video and the edge of the page */
	bottom: 0; /* This ensures no space between the edge of the video and the edge of the page */
	min-width: 100%; /* This ensures the video is displayed across the full width of the page */
	z-index: -1;
	animation: zoominoutsinglefeatured 5s;
}

/* Text over the video */ 
.Video_Text { 
	background-color: rgba(0, 0, 0, 0.4); /* This provides a semi-transparent background for the text to sit over */
	color: white;
	width: 100%;
	padding: 10px; /* This adds padding around the text so that the background goes slightly beyond the text */
	margin-top: 23%; /*sets where the "banner" is,  height-wise*/
	text-align: center;
	position: relative;
	-webkit-animation: fadevideoText 4s; /* Safari 4.0 - 8.0 */
    animation: fadevideoText 4s;
}

#name {
	font-size: 4em;
	font-variant: small-caps;
	letter-spacing: .15em;
	padding: 10px;
	line-height: 3px;
	/* margin sets the spacing between text elements */
	margin-top: 6%;
	margin-bottom: 50px;
}

#subheading{
	font-size: 2.2em;
	text-transform: uppercase;
	letter-spacing: .15em;
	padding: 10px;
	margin: 25px;
}

#email_add{
	font-size: 1.7em;
	letter-spacing: .15em;
	padding: 10px;
	margin-top: 25px;
	margin-bottom: 5%;
}

/* Slideshow Styling */
#Slideshow_Background {
	background:rgba(255,255,255, 0.35); /* This creates a slightly transparent white background that's placed over the video */
	}
  
  
  .mySlides {
	  display: none;
  }
  
  @-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  @keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
  }
  
  /* Slideshow section / container */
  #Slideshow_Container {
	width: 39.5vw;
	height: auto;
	padding-top: 4%;
	position: relative;
	margin: auto;


  }
  
  /* Images contained within slideshow */
  .Slide_Show_Images {
	vertical-align: middle;
	height: auto;
	box-shadow: 0px 5px 10px 12px rgba(0, 0, 0, .75);
	width: auto;
	height: 39.5vw;
	background-color: white;
  }
  
  
  /* Next and previous buttons */
  .Previous, .Next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 2vw;
	margin-top: -0vw;
	color: darkgray;
	font-weight: bold;
	font-size: 1.5vw;
	border-radius: 0 3px 3px 0;
	user-select: none;
	transition: 0.6s ease;
  }
  
  /* Positioning the right-hand next button */
  .Next {
	right: 0;
	border-radius: 3px 0 0 3px;
  }
  
  /* Hover effect on slide show buttons */
  .Previous:hover, .Next:hover {
	background-color: rgba(0,0,0,0.8);
	color: white;
  }
  
  /* Slideshow text */
  .text {
	color: white;
	padding: 1vw;
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	font-family: Perpetua, Rockwell Extra Bold;
	letter-spacing: .1vw; 
	font-size: 1.5vw;
	background-color: rgba(0,0,0,0.75);
	font-weight: bold;
	border-radius: 7px 7px 7px 7px;
  }
  
  /* Number text (1/6, 2/6, etc.) - we have set this display to none, which means these are hidden */
  .Slide_Number {
	color: white;
	position: absolute;
	top: 0;
	font-family: Perpetua, Rockwell Extra Bold;
	letter-spacing: .1vw; 
	font-size: 1.5vw;
	font-weight: bold;
	display: none;
	}
  
  /* The dots under the slideshow */
  .dot {
	cursor: pointer;
	height: 1vw;
	width: 1vw;
	margin: .25vw;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	position: relative;
	z-index: 1;
  }
  
  /* Hover effect for slideshow dots */ 
  .active, .dot:hover {
	background-color: black;
  }
  
  /* Fading animation for slideshow */
  .fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;  
  }
  

/* Table - this section covers the styling of the columns and rows within our table */
* { /* The asterisk is a universal selector that applies this effect to all elements on the page */
	box-sizing: border-box; /* This creates a box with a border within which we will place most of our text */
}

.Column_1 {
	float: left;  
	width: 50%; /* This ensures one column takes up half the page width */
	padding: 10px; 
	padding-top: 1%; /* This ensures there is space between the top of the column and our headings */
	height: 400px; /* This sets the height of our column at 400 pixels - if you change the text within the columns, you will need to adjust the column heights accordingly */
	border: 2px solid transparent;
	background-color: #f2f2f2; 
}

#github_link {
	text-align: center;
	margin-top: 20%;
	/* ???????? */
}


.Column_2 {
	float: left;
	width: 50%;
	padding: 10px;
	padding-top: 1.9%;
	height: 400px;
	border: 2px solid transparent;
	background-color: #696969;
}

.Column_3 {
	float: left;
	width: 50%;
	padding: 10px;
	padding-top: 1.9%;
	height: 400px;
	border: 2px solid transparent;
	background-color: #696969;
}

.Row:after { /* This inserts something after the content of selected elements */
	content: ""; /* By leaving this blank, we are allowing the footer (covered lower down) to be displayed - removing it makes the footer overwrite a column */
	display: table; /* The display property specifies the type of display behavior; the table value tells the browser to treat the element as a table */
	clear: both; /* This clears any other elements from floating on the left or the right of an element */
}

/* Heading 1 elements */
h1, h2 {
	text-transform: uppercase; /* We are capitalizing our headings */
	font-family: "Trebuchet MS", Optima; 
	text-align: center;
	margin-top: 3%; /* We are adding a small margin above the headings */
	color: #1a1a1a;
	
}

/* Paragraph elements */
p {
	font-family: Perpetua, Rockwell Extra Bold;
	text-align: justify;
	letter-spacing: 1px; /* This expands the text slightly */
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

/* Center align elements - this embraces all centered text */
/* center {
	font-family: Perpetua, Rockwell Extra Bold;
	text-align: center;
	letter-spacing: 1px;
	font-size: 20px;
	padding-left: 20px;
	padding-right: 20px;
} */

/* Anchor elements */
a {
	color: blue; /* We are ensuring all links are blue */
}


/* Image elements */
img {
	filter: grayscale(50%);
    border-radius: 20px; /* This causes our images to have slightly rounded edges */
    max-width: 100%; 

	margin-left: auto; /* This in combination with margin-right: auto centers our images */
    margin-right: auto;
	display: block;	/* By specifying block display we can ensure our images are able to be centered */
}

/* section images */
.section_img{
	height: 350px; 	
}

/* Contact form */

/* Makes contact form button slide in from right on page load */
@keyframes movePopup {
	from {right: -40vw;}
	to {bottom: 1.75vw;}
  }

/* Button used to open the contact form - fixed at the bottom of the page */
.pop_up {
bottom: 1.75vw;
right: 1.75vw;
width: 20vw;  
background-color: white;
color: black;
border: solid;
cursor: pointer;
position: fixed;
-webkit-animation: movePopup 3s;
animation: movePopup 3s;
}

  /* The popup form - hidden by default */
.form-popup {
	border: 3px solid #f0f1f0;
	z-index: 8;
	display: none;
	position: fixed;
	bottom: 6px;
	right: 6px;
}

/* Form styling */
.form-container {
	max-width: 40vw;
	padding: 10px;
	background-color: white;
  }

.form-container input[type=text] { /* This covers the input sections of the contact form */
	width: 100%;
	padding: 0.93vw;
    border: none;
    border-radius: 10px; 
    background: gainsboro;
    margin: .6vw 0 .6vw 0;
	font-family: Perpetua, Rockwell Extra Bold; 
	font-size:  1vw;
}

.form-container .btn {
	width: 49%;
	background-color: white;
	color: rgb(100, 100, 100);
	border-color: black;
	margin-bottom:1vh;
  }


/* Close button */
.form-container .cancel {
	background-color: rgb(51, 51, 51);
	color: white;
	border-color: gray;
  }

/* Button styling */
button {
	font-family: "Trebuchet MS", Optima; 
	letter-spacing: .3vw; 
	font-size: 1.5vw;
	font-weight: bold;
	padding: 1.5vw 1.5vw;
	border-style: solid;
	cursor: pointer;
	width: 100%;
	height: auto;
  }

/* Hover effect for buttons */
.form-container .btn:hover{
	color: white;
	background-color: rgb(31, 31, 31);
	-webkit-transition-duration: .5s; 
	transition-duration: .5s;
	border-style: solid;
	border-color: silver;
  }
.form-container .cancel:hover, button:hover{
	color: white;
	background-color: rgba(139, 0, 0, 0.75);
	-webkit-transition-duration: 0.5s; 
	transition-duration: 0.5s;
	border-style: solid;
	border-color: black;
}	

/* Center align element hover effect */
/* center:hover {
	transition: transform 2s;
	transform: scale(1.1);
} */

/* Paragraph element hover effect */
p:hover {
	color: #00004d;	
}

/* Heading 1 element hover effect */
h1:hover {
	color: black;
	font-weight: normal; /* Makes the text no longer bold when hovered over */ 
}
.Column_1:hover, .Column_2:hover, .Column_3	:hover{
	border: 2px solid #333;
}

/* Image element hover effects */
img:hover {
	filter: grayscale(5%);
    /* transition: transform 1s;
	transform: scale(1.1); */
}

/* Footer element */
footer {
	padding: 1%;
	background-color:transparent;
	color: white;
}